.custom-navbar-container { /* Styling for the entire navbar container */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  width: 100%;
  height: 80px;
  border-top: none;
  margin: auto;
}

.custom-container { /* Styling for the inner container */
  display: flex;
  justify-content: space-around;
}

.custom-logo img { /* Styling for the logo */
  width: 120px;
  height: 29.24px;
  margin-top: 25px;
  margin-left: -299px;
  cursor: pointer;
}

.custom-top-bar { /* Styling for the top bar */
  display: flex;
  font-weight: 700;
  width: 559px;
  height: 44px;
  justify-content: flex-end;
  margin-right: -220px;
  border-radius: 10px;
  cursor: pointer;
}

.custom-top-bar div { /* Styling for the elements inside the top bar */
  width: 160px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  border-radius: 10px;
}

.custom-top-bar div span { /* Styling for the text inside the top bar */
  margin-top: 10px;
}

.custom-top-bar img { /* Styling for images inside the top bar */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 8px;
}

/* Media query for smaller screens */
@media (max-width: 1068px) {
  .custom-logo img {
    margin-left: 10px; 
  }
  .custom-top-bar {
    margin-right: 10px; 
  }
}
@media (max-width: 696px) {
  .custom-logo img {
    margin-left: 10px; 
  }
  .custom-top-bar {
    margin-right: 10px; 
  }
}
