.sidebar-container {
    width: 16%;
    height: 1462px;
    border-top: none;
    margin-top: -5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      position: static;
  }
  
  .page-container {
    width: 90%;
    height: 250px;

  }

  .page-container a {
     text-decoration: none;
  }
  
  .page {
    width: 90%;
    margin-top: 6px;
    cursor: pointer;
    text-align: center;
    color: black;
    font-weight: 400;
  }
  
  /* Style for the active section */
  .page.active {
    background: rgba(247, 248, 250, 1);
    color: #000; /* Text color for the active section */
    font-weight: 600;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  /* Apply the hover effect to .page */
  .page:hover {
    background: rgba(247, 248, 250, 1);
    color: #000; /* Text color on hover */
    font-weight: 600;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  
  .page div {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }

  .page span {
    margin-top: 18px;
    color: grey;
  }

  
  @media (max-width: 1068px) {
    p {
      display: none;
    }
    .page span {
      font-size: 25px;
      margin-top: 10px;
    }
  }
  