.syllabusAnalysis {
  width: 100%;
  height: 100%;
}

.syllabus h4 {
  text-align: start;
  margin-left: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.create-space {
  width: 100%;
  height: 10px;
}
.horizontal-bar-graph {
  width: 100%;
  margin-top: 33px;
}

.syllabus-container {
  width: 85%;
  height: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.about-input {
  width: 80%;
  height: 20px;
}
.about-input label {
  margin-right: 70px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgba(86, 100, 116, 1);
  font-size: 16px;
}

.input-graph {
  width: 57%;
  height: 100%;
  opacity: 60%;
}

.rounded-graph {
  width: 100%;
  height: 10px; 
  background-color: grey;
  border-radius: 5px; 
  margin-top: 10px;
}

.progress {
  height: 100%;
  border-radius: 5px 0 0 5px; 
}

.percentage {
  width: 10%;
  height: 100%;
}
